---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />
<main>
	<section class="hero">
		<h1>About BSA Troop 10</h1>
		<p>Learn more about our troop, our mission, and our leadership.</p>
	</section>
	<section>
		<h2>Who We Are</h2>
		<p>
			BSA Troop 10 is chartered through St. Benedict Catholic Church in Johns Creek, GA.
			It was started in 2000 and offers a unique and diverse outdoor experience for scouting.
			Our small size and focus on individual attention provide opportunities for youth to become
			future leaders and fosters a love for the environment. Our program is designed to challenge
			and inspire scouts of all ages in a safe and nurturing environment.
		</p>
		<p>
			Come join us at a troop meeting. Troop 10 meets at St. Benedict Catholic Church at 7:30 PM
			every Tuesday at the Parish Life Center.
		</p>
	</section>
	<section>
		<h2>Troop Leadership</h2>
		<ul>
			<li>Scoutmaster</li>
			<li>Committee Chair</li>
			<li>Chartered Org Representative</li>
		</ul>
	</section>
</main>
<Footer />
