---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
---
<Header />
<script>
function openPopup() {
  window.open('popup.html', 'NewWindow', 'width=400,height=300');
  // 'popup.html': URL of the page to open in the pop-up
  // 'NewWindow': Name of the window (can be used to target it later)
  // 'width=400,height=300': Window features (size, scrollbars, etc.)
}
</script>
<main>
    <script>
function openPopup() {
  window.open('popup.html', 'NewWindow', 'width=400,height=300');
  // 'popup.html': URL of the page to open in the pop-up
  // 'NewWindow': Name of the window (can be used to target it later)
  // 'width=400,height=300': Window features (size, scrollbars, etc.)
}
</script>
<html>
    

 <section class="hero">
    <h1>Join Troop 10!</h1>
    <a style="color: White; text-decoration: underline;"href="http://localhost:4321/contact">Contact Us!</a>
    


  </section>
  
  <section>
		<h2>Scouting America's Mission</h2>
  </section>

<p style="font-size: 17px; padding-right: 9cm;">Scouting America's goal is to prepare young people to make ethical and moral choices over <br>their lifetimes by instilling in them <br>the values of the <em>Scout Oath and Law.</em></p>
<ul style="padding-right: 9cm;">
    <li><strong>Character Development</strong></li>
    <li><strong>Leadership Development</strong></li>
    <li><strong>Citizenship training</strong></li>
    <li><strong>Personal Fitness</strong></li>
    <li><strong>Outdoor Experiences</strong></li>
    <li><strong>Values-Based Education</strong></li>
    <li><strong>Creating a Safe and Welcoming Environment</strong></li>
</ul>
<section>
<h2 class="join">Why Join Troop 10?</h2>
</section>
<ol style="font-size: 17px;padding-right: 9cm;">
    <li><strong>Regular outdoor adventures: camping, hiking, canoeing, etc.</strong></li>
    <li><strong>Strong focus on leadership and character development.</strong></li>
    <li><strong>Supportive, trained adult volunteers.</strong></li>
    <li><strong>Opportunity to earn merit badges and the rank of Eagle Scout.</strong></li>
    <li><strong>Friendly, inclusive troop culture.</strong></li>

</ol>
<section>
<h2 class="meet-info">Meeting Information</h2>
</section>
<p style="font-size: 17px;padding-right: 9cm;">We meet on <em>Tuesdays </em>at 7:30 PM, at <strong>St. Benedict Church</strong> </p>
<a class="link"
          href="https://www.google.com/maps/dir/?api=1&destination=11045+Parsons+Rd,+Johns+Creek,+GA+30097,+USA"
          target="_blank"
          rel="noopener noreferrer">
          11045 Parsons Rd, Johns Creek, GA 30097, USA
</a>
<section>
<h2 class="how-to-join">How to Join: Simple and Easy!</h2>
</section>
<ol style="font-size: 17px;padding-right: 9cm;">
    <li><strong>Visit a meeting</strong></li>
    <li><strong>Meet the troop</strong></li>
    <li><strong>Complete a registration form</strong></li>
    <li><strong>Pay dues and get a uniform</strong></li>
</ol>
<section>
<h2 class="involvement">Parent Involvement</h2>
</section>
<p style="font-size: 17px;padding-right: 9cm;">We encourage parent involvement! <br>Whether helping with transportation, organizing campouts,<br> or serving as a merit badge counselor, your support helps the troop thrive!</p>
<section>
<h2 class="faq">FAQ</h2>
</section>
<ul style="font-size: 17px;padding-right: 9cm;">
    <li><strong>Do I need to buy a full uniform right away? No-just a scout shirt and handbook to start</strong></li>
    <li><strong>Do I need Scouting experience? Nope! Beginners are welcome</strong></li>
    <li><strong>Can I transfer from another troop? Yes!</strong></li>
</ul>

<style>

    .mission {
       
        font-size: 40px;
        padding-right: 9cm;
    }

    .join {
       
        font-size: 40px;
        padding-right: 9cm;
    }

    .meet-info {
       
        font-size: 40px;
        padding-right: 9cm;
    }

    .how-to-join {
       
        font-size: 40px;
        padding-right: 9cm;
    }
    

    .involvement {
       
        font-size: 40px;
        padding-right: 9cm;
    }

    .faq {
        
        font-size: 40px;
        padding-right: 9cm;
    }

    .troop-10 {

        
        color: White;
        font-size: 40px;
        padding-right: 9cm;
        
    }

    .link {
        padding-right: 9cm; 
    }

    .quick-links {
        color: White;

    }

    .maps {
        padding-right: 9cm;
    }

    
</style>

</html>

</main>
<Footer /> 