---
import { SITE_TITLE } from '../consts';
---

<footer>
	<div class="footer-content">
		<div class="footer-section">
			<h3>BSA Troop 10</h3>
			<p>HighAdventure.Troop10@gmail.com</p>
			<p>11045 Parsons Rd, Johns Creek, GA 30097, USA</p>
		</div>
		<div class="footer-section">
			<h3>Quick Links</h3>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/blog">News</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3>Resources</h3>
			<ul>
				<li><a href="/youth-application">Youth Application</a></li>
				<li><a href="/adult-application">Adult Application</a></li>
				<li><a href="/ypt">Youth Protection Training (YPT)</a></li>
				<li><a href="/virtus">VIRTUS Training</a></li>
				<li><a href="/medical-form">Annual Medical Form</a></li>
			</ul>
		</div>
	</div>
</footer>
