---
import '../styles/global.css';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header style="background-color: #004080;">
	<nav>
		<a href="/" class="logo">
			<img src="/images/bsa-logo.png" alt="BSA Troop 10 Logo" height="40" style="padding: 0%;"/>
		</a>
		<label style="color: white; font-size:larger; font-weight: bolder;">BSA Troop 10</label>
		<ul>
			<HeaderLink href="/" style={{ color: 'white', textDecoration: 'none' }}>Home</HeaderLink>

			<HeaderLink href="/about" style={{ color: 'white', textDecoration: 'none' }}>About</HeaderLink>
			<HeaderLink href="/events" style={{ color: 'white', textDecoration: 'none' }}>Events</HeaderLink>
			<HeaderLink href="/news" style={{ color: 'white', textDecoration: 'none' }}>News</HeaderLink>
			<HeaderLink href="/joinus" style={{ color: 'white', textDecoration: 'none' }}>Join Us</HeaderLink>
			<HeaderLink href="/contact" style={{ color: 'white', textDecoration: 'none' }}>Contacts</HeaderLink>
			
					</ul>
	</nav>
</header>